{% extends "common/base.html" %}
{% load static %} 
{% block content %}
        <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
                        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="LIGHT" data-type="HORIZONTAL" data-vanity="naman-kumar-390336218" data-version="v1">
                            <a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/naman-kumar-390336218?trk=profile-badge">

                            </a>
                        </div>
{% endblock %}


