{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb-wrap product-warop-product">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Myaccount</a></li>
            <li class="breadcrumb-item active">Myaccount details</li>
        </ul>
    </div>
</div>
<div class="my-account">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="dashboard-nav" data-toggle="pill" href="#dashboard-tab" role="tab">Dashboard</a>
                <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab">Orders</a>
                <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab">wishlist</a>
                <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab">address</a>
                <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab">Account Details</a>
                <a class="nav-link" href="/logout/">Logout</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="dashboard-tab" role="tabpanel" aria-labelledby="dashboard-nav">
                    <h4>Dashboard</h4>
                    <p>
                        {% if user.is_authenticated %}
                            <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
                        {% else %}
                            <p>Welcome, new user. Please log in.</p>
                        {% endif %}
                    </p> 
                </div>
                <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>No</th>
                                    <th>Product</th>
                                    <th>Date</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Product Name</td>
                                    <td>01 Jan 2020</td>
                                    <td>$22</td>
                                    <td>Approved</td>
                                    <td><button>View</button></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Product Name</td>
                                    <td>01 Jan 2020</td>
                                    <td>$22</td>
                                    <td>Approved</td>
                                    <td><button>View</button></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Product Name</td>
                                    <td>01 Jan 2020</td>
                                    <td>$22</td>
                                    <td>Approved</td>
                                    <td><button>View</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                    <h4>Wish List</h4>
                    {% if user.is_authenticated %}
             <a href="/wishlist/" class="pquntpro"><i class="fa fa-heart"></i>
             <i class="productqnt">
                 {{ request.session.wishcount }}
             </i>
             </a>
             {% endif %} 
                </div>
                <div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                    <h4>Address</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Payment Address</h5>
                            <p>HDFC, BATHINDA</p>
                            <p>Mobile: 012-345-6789</p>
                            <button>Edit Address</button>
                        </div>
                        <div class="col-md-6">
                            <h5>Shipping Address</h5>
                            <p>123 Shipping Street, Los Angeles, CA</p>
                            <p>Mobile: 012-345-6789</p>
                            <button>Edit Address</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                    <h4>Account Details</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="First Name" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Last Name" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Mobile" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Email" />
                        </div>
                        <div class="col-md-12">
                            <input type="text" placeholder="Address" />
                        </div>
                        <div class="col-md-12">
                            <button>Update Account</button>
                            <br /><br />
                        </div>
                    </div>
                    <h4>Password change</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="password" placeholder="Current Password" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="New Password" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Confirm Password" />
                        </div>
                        <div class="col-md-12">
                            <button>Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}