@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Varela+Round&display=swap');

body{
	line-height: 1.5;
	font-family: 'Varela Round', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}
body a, p{
	font-size: 13px;
}
:before,:after{
	box-sizing: border-box;
}
.header .container{
	max-width: 1200px;
	margin:auto;
}
.header .row{
	display: flex;
	flex-wrap: wrap;
}
.v-center{
	align-items: center;
}
.header ul{
	list-style: none;
	margin:0;
	padding:0;
	text-align: center;
}
.header .subsubmenulist{
	text-align: left !important;
	padding:0px;	
}
.header .subsubmenulist li{
	border-bottom: 1px solid lightgrey;
}
.header a{
	text-decoration: none;
}
/* header */
.header{
	display: block;
	background-color: blue;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	padding:15px;
	border-bottom: 1px solid lightgray;
	/* box-shadow: 0px 15px 10px -15px #111;    */
}

.header .item-left{
	flex:0 0 17%;
}

.header .logo a{
	font-size: 20px;
	color:white;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}

.header .item-center{
	flex:0 0 66%;
}
.header .item-right{
	flex:0 0 15%;
	display: flex;
	justify-content: flex-end;
}
.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:white;
     display: inline-block;
     margin-left: 15px;
     transition: color 0.3s ease;
}
.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}
.header .menu > ul > li > a{
	font-size: 13px;
	font-weight: 500;
	color:white;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
	text-transform: uppercase;
}
.header .menu > ul > li .sub-menu{
	position: absolute;
	z-index: 500;
	background-color:#ffffff;
	box-shadow: -2px 2px 70px -25px rgba(0,0,0,0.3); 
	padding: 20px 30px;
	transition: all 0.5s ease;
	margin-top:25px;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
}
.header .menu > ul > li .sub-menu > ul > li{
	line-height: 1;
}
.header .menu > ul > li .sub-menu > ul > li > a{
	display: inline-block;
	padding: 10px 0;
	font-size: 14px;
	color: #555555;
	transition: color 0.3s ease;
	text-decoration: none;
	text-transform: capitalize;
}
.header .menu > ul > li .single-column-menu{
	min-width: 280px;
	max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li{
   line-height: 1;
   display: block; 
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
	padding:10px 0;
	display: inline-block;
	font-size: 13px;
	color:#555555;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu.mega-menu{ 
    left: 50%;
    transform: translateX(-50%);	
}

.header .menu > ul > li .sub-menu.mega-menu-column-4{
  max-width: 1100px;
  width: 100%; 	
  display: flex;
  flex-wrap: wrap;
  padding:20px 15px;
  padding-left: 6%;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
  flex:0 0 25%;
  padding:0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
	font-size: 14px;
	color:#000000;
	font-weight: 500;
	line-height: 1;
	padding:10px 0;
	text-align: left !important;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
	text-align: center;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
	max-width: 100%;
	width: 100%;
	vertical-align: middle;
	margin-top: 10px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a{
	color:#000033;
}
/* banner section */
.banner-section{
  background-image: url('../img/slider-1.jpg.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  display: block;
}
.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}

/*responsive*/
@media(max-width: 991px){

	.header-item.item-left {
		width: 49%;
	}
	.header-item.item-right {
		width: 49%;
	}
	.header{
		background-color: white !important;
		box-shadow: 0px 15px 10px -15px #111;   
	}
	.header ul{
		text-align: unset;
	}
	.header .item-center{
		order:3;
		flex:0 0 100%;
	}
	.header .item-left,
	.header .item-right{
		flex:0 0 auto;
	}
	.v-center{
		justify-content: space-between;
	}
	.header .mobile-menu-trigger{
		display: flex;
		height: 30px;
		width: 30px;
		margin-left: 15px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
	}
	.header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	.header .mobile-menu-trigger span:before{
		top:-6px;
	}
	.header .mobile-menu-trigger span:after{
		top:6px;
	}
	.header .item-right{
		align-items: center;
	}

	.header .menu{
		position: fixed;
		width: 320px;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.header .menu.active{
	   transform: translate(0%);	
	}
	.header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	.header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	.header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	.header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	.header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.header .menu > ul > li .sub-menu.mega-menu,
	.header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
}


#carouselExampleIndicators img{
	max-height: 670px;
	height: 550px;
}
.list-item{
	padding: 0px;
}
.submenuullist{
	border-top: 1px solid lightgrey;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
    flex: 0 0 25%;
    padding: 0px;
}

.header .subsubmenulist ul li a{
	text-align: unset !important;
}
.carousel-control-next i{
	color: #000000;
	font-size: 30px;
}
.carousel-control-prev i{
	color: #000000;
	font-size: 30px;
}

.carousel-caption p, h5 {
	color: #000000;
	text-align: center;
}

.slide1 {
    right: 28%;
    left: 13%;
    top: 30%;
    width: 400px;
}
.slide2 {
    right: 20%;
    left: 50%;
    top: 30%;
    width: 400px;
}
.slide3 {
    right: 35%;
    left: 20%;
    top: 30%;
    width: 400px;
}
.carousel-item img{
	border-bottom: 1px solid lightgray;  
}

.section2{
	margin-top: 30px;
}

.section2 i{
	font-size: 40px;
	color: white;
	padding: 30px;
}

.homecol-lg-4{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border: 1px solid lightgrey;
	padding: 20px;
	margin: 5px;
	width: 32%;
	border-radius: 10px;
	transition: box-shadow 0.4s ease-in-out;
}

.homecol-lg-4:hover{
	box-shadow: 0px 10px 20px 0px #2576BE;
}
.homecol-lg-4 .section1p{
	background-color: lightblue;
	border-radius: 100%;
	margin-left: 30%;
	margin-right: 30%;
	transition: background-color 0.8s ease-in-out;
}
.homecol-lg-4:hover .section1p {
	background-color: #2576BE;
}
.submenuullist{
	text-align: left !important;
}

/* .crslslider{
	margin-top: 82px;
} */

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 20px;
	height: 20px;
	border-radius: 100%;
	color: whitesmoke !important;
}

.carousel-control-next-icon {
	background-color: gray;
	color: white;
}
.carousel-control-prev-icon {
	background-color: gray;
	color: white;
}
.crslslider img{
	max-height: 530px;
}
.product-action form{
	display: inline-block;
}

@media (min-width: 992px){
#registergform .col-lg-6 {
    flex: 0 0 auto;
    width: 49%;
    display: inline-block;
}
}
@media(max-width:780px){
	.header .menu > ul > li > a{
		color: #000000;
	}
	.header .logo a{
		color: #000000;
	}
	.crslslider {
		margin-top: 60px;
	}
	.crslslider img{
		height: 250px;
	}
	.header .item-right a {
		color: black;
	}
}
.qntitilink{
	position: relative;
}
.quntity{
    position: absolute;
    top: -13px;
    font-size: 11px;
    background: white;
    color: black;
    padding: 2px;
    padding-left: 5px;
    border-radius: 100%;
    padding-right: 5px;
}
#fafaicons i.fa.fa-trash {
    color: white;
}